<a href="https://colab.research.google.com/github/MichaelHMorei/arquivos_de_apoio/blob/main/Aula_2_1_Extra%C3%A7%C3%A3o_automatizada_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Extração dos dados o Enade**

In [2]:
import pandas as pd
import numpy as np
import os
import zipfile
import requests
from io import BytesIO

In [3]:
url = "https://download.inep.gov.br/microdados/microdados_enade_2019_LGPD.zip"

In [4]:
#Criando pasta para armazenar os dados
os.makedirs('./enadade',exist_ok = True)

In [5]:
#Fazendo o download do conteudo
file =  BytesIO(
     requests.get(url).content )

# Extraindo o conteudo do arquivo zip na pasta criada.
zip = zipfile.ZipFile(file)
zip.extractall("./enadade")

In [7]:
enade = pd.read_csv("enadade/microdados_Enade_2019_LGPD/2.DADOS/microdados2019_arq1.txt", sep=";")

In [9]:
enade.head()

,NU_ANO,CO_CURSO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO
0,2019,3,1,1,10028,5710,1,5103403,51,5
1,2019,3,1,1,10028,5710,1,5103403,51,5
2,2019,3,1,1,10028,5710,1,5103403,51,5
3,2019,3,1,1,10028,5710,1,5103403,51,5
4,2019,3,1,1,10028,5710,1,5103403,51,5

In [16]:
#Lendo o nome de todos os arquivos e passando para uma lista

arquivos = list(os.listdir("enadade/microdados_Enade_2019_LGPD/2.DADOS"))

In [22]:
#Contando a qte de
 arquivos
len(arquivos)

32

In [39]:
#Percorrendo a lista com os arquivos e passando para um dataframe
for arq in range(1,len(arquivos)):
  ##print(arquivos[arq])
  enade = pd.read_csv("enadade/microdados_Enade_2019_LGPD/2.DADOS/" + arquivos[-6] , sep=";")
  df = pd.DataFrame(enade)

In [51]:
df.head(20)

    NU_ANO  CO_CURSO QE_I20
0     2019      5221      A
1     2019      9733      A
2     2019     13987      A
3     2019     18212      A
4     2019     51701      A
5     2019     57706      A
6     2019     57849      A
7     2019     76387      A
8     2019    102665      A
9     2019    104480      A
10    2019    108708      A
11    2019   1117583      A
12    2019   1155051      A
13    2019   1155051      A
14    2019   1259032      A
15    2019   1259896      A
16    2019   1283990      A
17    2019   1315090      A
18    2019   1322346      A
19    2019   1363701      A

In [36]:
print("enadade/microdados_Enade_2019_LGPD/2.DADOS/" + arquivos[-6])

enadade/microdados_Enade_2019_LGPD/2.DADOS/microdados2019_arq1.txt

In [18]:
arquivos.count()

TypeError: ignored